#schedule-box{
	width: 100%;
	padding: 2%;
	font-size: 0.12rem;
}
.schedule-hd{
	display: flex;
	justify-content: space-between;
	padding: 0 5%;
}
.today{
	flex: 1;
	line-height: 2;
	text-align: left;
	color:#666;
	font-size: 0.16rem;
}
.ul-box{
	overflow: hidden;
}
.ul-box > li{
	float: left;
	width: 14.28%;
	text-align: center;
	padding: 0.08rem 0;
}
.other-month{
	color: #999999;
}
.current-month{
	color: #333333;
}
.today-style{
	border-radius: 50%;
	background: #58d321;
}
.arrow{
	cursor: pointer;
	display: none;
}
.dayStyle{
	display: inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 50%;
	text-align: center;
	line-height: 0.36rem;
	cursor: pointer;
}
.current-month > .dayStyle:hover{
	background: #00BDFF;
	color: #ffffff;
}
.today-flag{
	background: #213762;
	color: #fff;
}
.boxshaw{
	box-shadow: 2px 2px 15px 2px #e3e3e3;
}
.selected-style {
	border:2px solid #213762;
}


.current-month:nth-child(28)>span,.current-month:nth-child(21)>span,.current-month:nth-child(18)>span,.current-month:nth-child(24)>span{
	border: 2px solid #213762;
}